<!DOCTYPE html>
<html>
  <head>
    <title>Contact form</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/style.css">
  </head>
  
  <body>
    <div class="main-block">
      <div class="left-part">
        <i class="fas fa-envelope"></i>
        <i class="fas fa-at"></i>
        <i class="fas fa-mail-bulk"></i>
      </div>

      <!-- with POST method data will be sent back to the server side -->
      <form action="/iris" method = "POST">
        <h1>Iris classifier ML model inputs:</h1>
        <div class="info">
          <input class="fname" type="text" name="sepal_length" placeholder="Add sepal length (in cm)">
          <input class="fname" type="text" name="sepal_width" placeholder="Add sepal width (in cm)">
          <input class="fname" type="text" name="petal_length" placeholder="Add petal length (in cm)">
          <input class="fname" type="text" name="petal_width" placeholder="Add petal width (in cm)">
        <button type="submit" href="/">Submit</button>
      </form>

    {% if output %}
      <br>
      <br>
      <h2> Your iris species: {{ output }}</h2>
    {% endif %}
    </div>
  </body>
</html>